<nav class="navbar bg-dark navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <i class='bx bxl-spotify' style='color:#1ed760;font-size: 49px; '></i> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</nav>


<nav class="navbar fixed-bottom navbar-light bg-dark justify-content-center align-items-center">
  
  <div class="d-flex justify-content-center">
    <div class="p-2" style="color: #fff;"><i class='bx bx-skip-previous'></i></div>
    <div class="p-2" style="color: #fff;"><i class='bx bx-pause' style='color:#ffffff'></i></div>
    <div class="p-2" style="color: #fff;"><i class='bx bx-play'></i></div>
    <div class="p-2" style="color: #fff;"><i class='bx bx-skip-next' style='color:#ffffff'></i></div>
  </div>
</nav>